<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from spacingtech.com/html/electon/electon/article-post-right.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 22 Feb 2025 11:18:14 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="utf-8">
    <meta name="description"
        content="A best stylish, creative, modern responsive template for different eCommerce business or industries." />
    <meta name="keywords"
        content="food template, bakery products, html, eCommerce html template,plants, organic food, restaurant, live tree, responsive, pizza, burger, furniture, mobile, watches, electronics, computers accessories, toys, jewellery, restaurant accessories" />
    <meta name="author" content="spacingtech_webify">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- title -->
    <title>Electon - The Electronics eCommerce Bootstrap Template</title>
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/img/favicon/favicon.png">/
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-icons.css">
    <!-- magnific-popup css -->
    <link rel="stylesheet" type="text/css" href="/css/magnific-popup.css">
    <!-- fontawesome css -->
    <link rel="stylesheet" type="text/css" href="/css/all.min.css">
    <!--fether css -->
    <link rel="stylesheet" type="text/css" href="/css/feather.css">
    <!-- animate css -->
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
    <!-- owl-carousel css -->
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="/css/owl.theme.default.min.css">
    <!-- swiper css -->
    <link rel="stylesheet" type="text/css" href="/css/swiper-bundle.min.css">
    <!-- slick slider css -->
    <link rel="stylesheet" type="text/css" href="/css/slick.css">
    <!-- collection css -->
    <link rel="stylesheet" type="text/css" href="/css/collection.css">
    <!-- blog css -->
    <link rel="stylesheet" type="text/css" href="/css/blog.css">
    <!-- other-pages css -->
    <link rel="stylesheet" type="text/css" href="/css/other-pages.css">
    <!-- product-page css -->
    <link rel="stylesheet" type="text/css" href="/css/product-page.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <!-- notification-bar start -->
    <!-- notification-bar end -->
    <!-- header start -->
    {{>header}}
    <!-- header end -->
    <!-- main section start-->
    <main>
        <!-- breadcrumb start -->
        <section class="breadcrumb-area">
            <div class="container">
                <div class="col">
                    <div class="row">
                        <div class="breadcrumb-index">
                            <!-- breadcrumb-list start -->
                            <ul class="breadcrumb-ul">
                                <li class="breadcrumb-li">
                                    <a class="breadcrumb-link" href="/">Home</a>
                                </li>
                                <li class="breadcrumb-li">
                                    <span class="breadcrumb-text">Article post right</span>
                                </li>
                            </ul>
                            <!-- breadcrumb-list end -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb end -->
        <!-- article-area start -->
        <section class="article-area section-pt">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="blog-article-wrapper right-side">
                            <div class="blog-article-wrap blog-sidebar">
                                <!-- blog sidebar start -->
                                <div class="blog-sidebar-wrap">

                                    <!-- blog-sidebar search start -->
                                    <div class="blog-post-sidebar blog-search">
                                        <h6 class="blog-sidebar-title" data-animate="animate__fadeInUp">Search</h6>
                                        <div class="search-post" data-animate="animate__fadeInUp">
                                            <form method="get" action="/blogs">
                                                <input type="search" name="q" class="input-text"
                                                    placeholder="Search blog" required autocomplete="off">
                                                <button type="submit" class="btn-search"><i
                                                        class="fa-solid fa-magnifying-glass"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- blog-sidebar search end -->

                                    <!-- blog-sidebar recent-post start -->
                                    <div class="blog-post-sidebar blog-recent-post">
                                        <h6 class="blog-sidebar-title" data-animate="animate__fadeInUp">Recent posts
                                        </h6>

                                        {{#each findBlog}}
                                        <div class="sidbar-inner" data-animate="animate__fadeInUp">
                                            <div class="post-image">
                                                <a href="/article-post/{{this._id}}" class="banner-img">
                                                    <img src="{{this.image}}" class="img-fluid" alt="{{this.title}}">
                                                </a>
                                            </div>
                                            <div class="recent-blog-content">
                                                <h6>
                                                    <a href="/article-post/{{this._id}}">{{this.title}}</a>
                                                </h6>
                                                <span>{{formatDate date}}</span>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                    <!-- blog-sidebar recent-post end -->

                                    <!-- blog-sidebar tag start -->
                                    {{!-- <div class="blog-post-sidebar blog-tags" data-animate="animate__fadeInUp">
                                        <h6 class="blog-sidebar-title">Tags</h6>
                                        <div class="sidebartag">
                                            <ul class="sidebar-tag">
                                                {{#each allTags}}
                                                <li data-animate="animate__fadeInUp">
                                                    <a href="/article-post/{{_id}}">{{this}}</a>
                                                </li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div> --}}
                                    <!-- blog-sidebar tag end -->

                                </div>
                                <!-- blog sidebar end -->
                            </div>
                            <div class="blog-article-wrap blog-article">
                                <!-- blog single-post start -->
                                {{#each findBlog}}
                                <div class="article-blog-post">
                                    <!-- blog img start -->
                                    <div class="blog-post-opt blog-post-img">
                                        <div class="blog-image">
                                            <a href="/article-post/{{_id}}" class="banner-img">
                                                <img src="{{image}}" class="img-fluid" alt="article-01">
                                            </a>
                                            <ul>
                                                <!-- blog-date start -->
                                                <li class="date-time">
                                                    <span>{{formatDate date}}</span>
                                                </li>
                                                <!-- blog-date end -->
                                                <!-- blog-comment start -->
                                                <li class="blog-comment">
                                                   {{#if blog.comments}} 
                                                   <span class="comment-count"> {{blog.comments.length}} comments</span>
                                                   {{/if}}
                                                </li>
                                                <!-- blog-comment end -->
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- blog img start -->
                                    <!-- blog title start -->
                                    <div class="blog-post-opt blog-post-title">
                                        <div class="blog-revert">
                                            <h6 data-animate="animate__fadeInUp" class="post-title">{{title}}</h6>
                                            <!-- blog-info start -->
                                            <div class="post-info" data-animate="animate__fadeInUp">
                                                <span>{{excerpt}}</span>
                                            </div>
                                            <!-- blog-info end -->
                                        </div>
                                    </div>
                                    <!-- blog title end -->
                                    <!-- blog content start -->
                                    <div class="blog-post-opt blog-post-content">
                                        <div class="blog-content">
                                            <div class="blog-wrap-desc">
                                                {{content}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- blog content end -->
                                    <!-- blog tag start -->
                                    <div class="blog-post-opt blog-post-teg" data-animate="animate__fadeInUp">
                                        <div class="post-info-tag">
                                            <ul class="post-tag">
                                                {{#each this.tags}}
                                                <li data-animate="animate__fadeInUp">
                                                    <a href="/article-post/{{_id}}">{{this}}</a>
                                                </li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- blog tag end -->
                                    <!-- blog share start -->
                                    <div class="blog-post-opt blog-post-icon" data-animate="animate__fadeInUp">
                                        <div class="blog-share">
                                            <ul class="social-icon">
                                                <!-- facebook-icon start -->
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <span class="icon-social facebook"><svg
                                                                xmlns="http://www.w3.org/2000/svg"
                                                                viewBox="0 0 320 512">
                                                                <path
                                                                    d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
                                                                </path>
                                                            </svg></span>
                                                    </a>
                                                </li>
                                                <!-- facebook-icon end -->
                                                <!-- twitter-icon start -->
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <span class="icon-social twitter"><svg
                                                                xmlns="http://www.w3.org/2000/svg"
                                                                viewBox="0 0 512 512">
                                                                <path
                                                                    d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
                                                                </path>
                                                            </svg></span>
                                                    </a>
                                                </li>
                                                <!-- twitter-icon end -->
                                                <!-- pinterest-icon start -->
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <span class="icon-social pinterest"><svg
                                                                xmlns="http://www.w3.org/2000/svg"
                                                                viewBox="0 0 384 512">
                                                                <path
                                                                    d="M204 6.5C101.4 6.5 0 74.9 0 185.6 0 256 39.6 296 63.6 296c9.9 0 15.6-27.6 15.6-35.4 0-9.3-23.7-29.1-23.7-67.8 0-80.4 61.2-137.4 140.4-137.4 68.1 0 118.5 38.7 118.5 109.8 0 53.1-21.3 152.7-90.3 152.7-24.9 0-46.2-18-46.2-43.8 0-37.8 26.4-74.4 26.4-113.4 0-66.2-93.9-54.2-93.9 25.8 0 16.8 2.1 35.4 9.6 50.7-13.8 59.4-42 147.9-42 209.1 0 18.9 2.7 37.5 4.5 56.4 3.4 3.8 1.7 3.4 6.9 1.5 50.4-69 48.6-82.5 71.4-172.8 12.3 23.4 44.1 36 69.3 36 106.2 0 153.9-103.5 153.9-196.8C384 71.3 298.2 6.5 204 6.5z">
                                                                </path>
                                                            </svg></span>
                                                    </a>
                                                </li>
                                                <!-- pinterest-icon end -->
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- blog share end -->
                                    <!-- blog-arrow start -->
                                    <div class="blog-post-opt blog-post-arrow" data-animate="animate__fadeInUp">
                                        <div class="blog-prev-next">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="bi bi-chevron-double-left"></i>
                                                        <span>Prev post</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <span>Next post</span>
                                                        <i class="bi bi-chevron-double-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- blog-arrow end -->
                                </div>
                                {{/each}}
                                <!-- blog single-post end -->
                                <!-- blog post comment start -->
                                <div class="blog-comments">
                                    <div class="review-comment">
                                        <div class="cmt-tit-count">
                                            <h6 class="comment-title" data-animate="animate__fadeInUp">
                                                <span class="cmt-title">Comment</span>
                                                <span class="cmt-count">({{blog.comments.length}})</span>
                                            </h6>
                                        </div>

                                        {{#each blog.comments}}
                                        <div class="cmt-info-wrap">
                                            <div class="comment-info" data-animate="animate__fadeInUp">
                                                <div class="comment-avtar">
                                                    <div class="review-name">
                                                        <span class="avtar-cmt">
                                                            <span
                                                                class="cmt-auth">{{this.author.[0]}}{{this.author.[1]}}</span>
                                                        </span>
                                                    </div>
                                                    <div class="review-info">
                                                        <span class="cmt-authr">{{this.author}}</span>
                                                        <span class="time">{{this.date}}</span>
                                                    </div>
                                                </div>
                                                <div class="comment-content">
                                                    <div class="comment-desc">
                                                        <p>{{this.message}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>

                                    <div class="blog-comment-form">
                                        <form method="post" action="/article-post/{{blog._id}}/comment"
                                            class="comment-form">
                                            <div class="comments-reply-area">
                                                <h6 class="comment-title" data-animate="animate__fadeInUp">Leave a
                                                    comment</h6>
                                                <div class="form-wrap">
                                                    <div class="form-filed" data-animate="animate__fadeInUp">
                                                        <label>Name<span class="required">*</span></label>
                                                        <input type="text" name="author" required placeholder="Name">
                                                    </div>
                                                    <div class="form-filed" data-animate="animate__fadeInUp">
                                                        <label>Email address<span class="required">*</span></label>
                                                        <input type="email" name="email" required
                                                            placeholder="Email address">
                                                    </div>
                                                    <div class="form-filed" data-animate="animate__fadeInUp">
                                                        <label>Message<span class="required">*</span></label>
                                                        <textarea name="message" rows="5" class="comment-notes" required
                                                            placeholder="Message"></textarea>
                                                    </div>
                                                </div>
                                                <div class="comment-form-submit" data-animate="animate__fadeInUp">
                                                    <button class="btn btn-style2" type="submit">Post comment</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                                <!-- blog post comment end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- article-area end -->
        <!-- blog start -->
        {{!-- <div class="our-blog section-ptb">
            <div class="blog-category">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="section-capture">
                                <div class="section-title">
                                    <div class="section-cont-title">
                                        <h2 data-animate="animate__fadeInUp"><span>Blog &amp; events</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="blog-wrap">
                                <div class="blog-slider owl-carousel owl-theme" id="blog-slider">
                                    <div class="item" data-animate="animate__fadeInUp">
                                        <div class="blog-post">
                                            <div class="blog-img">
                                                <a href="article-post.html" class="banner-img">
                                                    <img src="img/blog/blog1.jpg" class="img-fluid" alt="blog1">
                                                    <span class="blog-icon">
                                                        <i class="fas fa-paperclip"></i>
                                                    </span>
                                                    <span class="blog-date-time">
                                                        <span class="blog-date">02</span>
                                                        <span class="blog-month">Jan</span>
                                                        <span class="blog-year">2024</span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="blog-content">
                                                <div class="blog-tag">
                                                    <h2>This book is a treatise on</h2>
                                                </div>
                                                <p class="blog-title">Lorem ipsum dolor sit amet, consectetuer
                                                    adipiscing elit doli. Aenean commodo ligula eget dolor. ...</p>
                                                <a href="article-post.html" class="blog-btn btn-style2">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item" data-animate="animate__fadeInUp">
                                        <div class="blog-post">
                                            <div class="blog-img">
                                                <a href="article-post.html" class="banner-img">
                                                    <img src="img/blog/blog2.jpg" class="img-fluid" alt="blog2">
                                                    <span class="blog-icon">
                                                        <i class="fas fa-paperclip"></i>
                                                    </span>
                                                    <span class="blog-date-time">
                                                        <span class="blog-date">02</span>
                                                        <span class="blog-month">Jan</span>
                                                        <span class="blog-year">2024</span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="blog-content">
                                                <div class="blog-tag">
                                                    <h2>The standard chunk of Lorem</h2>
                                                </div>
                                                <p class="blog-title">Lorem ipsum dolor sit amet, consectetuer
                                                    adipiscing elit doli. Aenean commodo ligula eget dolor. ...</p>
                                                <a href="article-post.html" class="blog-btn btn-style2">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item" data-animate="animate__fadeInUp">
                                        <div class="blog-post">
                                            <div class="blog-img">
                                                <a href="article-post.html" class="banner-img">
                                                    <img src="img/blog/blog3.jpg" class="img-fluid" alt="blog3">
                                                    <span class="blog-icon">
                                                        <i class="fas fa-paperclip"></i>
                                                    </span>
                                                    <span class="blog-date-time">
                                                        <span class="blog-date">02</span>
                                                        <span class="blog-month">Jan</span>
                                                        <span class="blog-year">2024</span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="blog-content">
                                                <div class="blog-tag">
                                                    <h2>Repeat predefined chunks</h2>
                                                </div>
                                                <p class="blog-title">Lorem ipsum dolor sit amet, consectetuer
                                                    adipiscing elit doli. Aenean commodo ligula eget dolor. ...</p>
                                                <a href="article-post.html" class="blog-btn btn-style2">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item" data-animate="animate__fadeInUp">
                                        <div class="blog-post">
                                            <div class="blog-img">
                                                <a href="article-post.html" class="banner-img">
                                                    <img src="img/blog/blog4.jpg" class="img-fluid" alt="blog4">
                                                    <span class="blog-icon">
                                                        <i class="fas fa-paperclip"></i>
                                                    </span>
                                                    <span class="blog-date-time">
                                                        <span class="blog-date">02</span>
                                                        <span class="blog-month">Jan</span>
                                                        <span class="blog-year">2024</span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="blog-content">
                                                <div class="blog-tag">
                                                    <h2>It is a long established fact that</h2>
                                                </div>
                                                <p class="blog-title">Lorem ipsum dolor sit amet, consectetuer
                                                    adipiscing elit doli. Aenean commodo ligula eget dolor. ...</p>
                                                <a href="article-post.html" class="blog-btn btn-style2">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item" data-animate="animate__fadeInUp">
                                        <div class="blog-post">
                                            <div class="blog-img">
                                                <a href="article-post.html" class="banner-img">
                                                    <img src="img/blog/blog5.jpg" class="img-fluid" alt="blog5">
                                                    <span class="blog-icon">
                                                        <i class="fas fa-paperclip"></i>
                                                    </span>
                                                    <span class="blog-date-time">
                                                        <span class="blog-date">02</span>
                                                        <span class="blog-month">Jan</span>
                                                        <span class="blog-year">2024</span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="blog-content">
                                                <div class="blog-tag">
                                                    <h2>All the lorem ipsum generators</h2>
                                                </div>
                                                <p class="blog-title">Lorem ipsum dolor sit amet, consectetuer
                                                    adipiscing elit doli. Aenean commodo ligula eget dolor. ...</p>
                                                <a href="article-post.html" class="blog-btn btn-style2">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item" data-animate="animate__fadeInUp">
                                        <div class="blog-post">
                                            <div class="blog-img">
                                                <a href="article-post.html" class="banner-img">
                                                    <img src="img/blog/blog6.jpg" class="img-fluid" alt="blog6">
                                                    <span class="blog-icon">
                                                        <i class="fas fa-paperclip"></i>
                                                    </span>
                                                    <span class="blog-date-time">
                                                        <span class="blog-date">02</span>
                                                        <span class="blog-month">Jan</span>
                                                        <span class="blog-year">2024</span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="blog-content">
                                                <div class="blog-tag">
                                                    <h2>Lorem ipsum which looks</h2>
                                                </div>
                                                <p class="blog-title">Lorem ipsum dolor sit amet, consectetuer
                                                    adipiscing elit doli. Aenean commodo ligula eget dolor. ...</p>
                                                <a href="article-post.html" class="blog-btn btn-style2">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item" data-animate="animate__fadeInUp">
                                        <div class="blog-post">
                                            <div class="blog-img">
                                                <a href="article-post.html" class="banner-img">
                                                    <img src="img/blog/blog7.jpg" class="img-fluid" alt="blog7">
                                                    <span class="blog-icon">
                                                        <i class="fas fa-paperclip"></i>
                                                    </span>
                                                    <span class="blog-date-time">
                                                        <span class="blog-date">02</span>
                                                        <span class="blog-month">Jan</span>
                                                        <span class="blog-year">2024</span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="blog-content">
                                                <div class="blog-tag">
                                                    <h2>Various versions have evolved over</h2>
                                                </div>
                                                <p class="blog-title">Lorem ipsum dolor sit amet, consectetuer
                                                    adipiscing elit doli. Aenean commodo ligula eget dolor. ...</p>
                                                <a href="article-post.html" class="blog-btn btn-style2">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item" data-animate="animate__fadeInUp">
                                        <div class="blog-post">
                                            <div class="blog-img">
                                                <a href="article-post.html" class="banner-img">
                                                    <img src="img/blog/blog8.jpg" class="img-fluid" alt="blog8">
                                                    <span class="blog-icon">
                                                        <i class="fas fa-paperclip"></i>
                                                    </span>
                                                    <span class="blog-date-time">
                                                        <span class="blog-date">02</span>
                                                        <span class="blog-month">Jan</span>
                                                        <span class="blog-year">2024</span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="blog-content">
                                                <div class="blog-tag">
                                                    <h2>Various versions have evolved over</h2>
                                                </div>
                                                <p class="blog-title">Lorem ipsum dolor sit amet, consectetuer
                                                    adipiscing elit doli. Aenean commodo ligula eget dolor. ...</p>
                                                <a href="article-post.html" class="blog-btn btn-style2">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}
        <!-- blog end -->
    </main>
    <!-- main section end-->
    <!-- footer start -->
    {{>footer}}
    <!-- footer end -->
    <!-- footer-copyright start -->
    
    <!-- footer-copyright end -->
    <!-- vega-mobile start -->
    <div class="mobile-vega">
        <div class="vega-menu-area">
            <div class="mobile-vega-menu" id="mobile-vega-menu">
                <div class="vega-close">
                    <button class="vega-close-btn">
                        <span class="vega-close-icon"><svg viewBox="0 0 24 24" width="24" height="24"
                                stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"
                                stroke-linejoin="round" class="css-i6dzq1">
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg></span>
                    </button>
                </div>
                <ul class="vega-menu">
                    <li class="menu-link">
                        <div class="link-title">
                            <a href="#mobile-vega-electronics" data-bs-toggle="collapse" class="sp-link-title">
                                <span class="menu-img-icon">
                                    <img src="img/menu/cate-menu1.jpg" class="img-fluid" alt="cate-menu1">
                                    <span>Pen drivess</span>
                                </span>
                                <span class="menu-arrow"><i class="feather-plus"></i></span>
                            </a>
                        </div>
                        <div class="menu-dropdown product-menu collapse" id="mobile-vega-electronics">
                            <ul class="ul">
                                <li class="productlink-li">
                                    <div class="productlink-title">
                                        <a href="#vega-sub1" data-bs-toggle="collapse" class="sp-link-title">
                                            <span>Shop page</span>
                                            <span class="menu-arrow"><i class="feather-plus"></i></span>
                                        </a>
                                    </div>
                                    <ul class="productsupmenu-dropdown collapse" id="vega-sub1">
                                        <li class="productsupmenu-li">
                                            <a href="collection-without.html" class="productsuplink-title">
                                                <span class="sp-link-title">Collection</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="collection.html" class="productsuplink-title">
                                                <span class="sp-link-title">Collection left</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="collection-right-2.html" class="productsuplink-title">
                                                <span class="sp-link-title">Collection right</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="collection-list-without.html" class="productsuplink-title">
                                                <span class="sp-link-title">Collection list</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="collection-list.html" class="productsuplink-title">
                                                <span class="sp-link-title">Collection list lef</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="#" class="productsuplink-title">
                                                <span class="sp-link-title">Collection list right</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="productlink-li">
                                    <div class="productlink-title">
                                        <a href="#vega-sub2" data-bs-toggle="collapse" class="sp-link-title">
                                            <span>Product page</span>
                                            <span class="menu-arrow"><i class="feather-plus"></i></span>
                                        </a>
                                    </div>
                                    <ul class="productsupmenu-dropdown collapse" id="vega-sub2">
                                        <li class="productsupmenu-li">
                                            <a href="product-template.html" class="productsuplink-title">
                                                <span class="sp-link-title">Product layout</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="product-template2.html" class="productsuplink-title">
                                                <span class="sp-link-title">Product tab</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="product-template3.html" class="productsuplink-title">
                                                <span class="sp-link-title">Product advanc</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="product-template4.html" class="productsuplink-title">
                                                <span class="sp-link-title">Product advance</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="product-template5.html" class="productsuplink-title">
                                                <span class="sp-link-title">Product accordion</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="product-template6.html" class="productsuplink-title">
                                                <span class="sp-link-title">Product center</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="product-template7.html" class="productsuplink-title">
                                                <span class="sp-link-title">Product side</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-link">
                        <div class="link-title">
                            <a href="#vega-furniture" data-bs-toggle="collapse" class="sp-link-title">
                                <span class="menu-img-icon">
                                    <img src="img/menu/cate-menu2.jpg" class="img-fluid" alt="cate-menu2">
                                    <span>Smart watch</span>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="menu-link">
                        <div class="link-title">
                            <a href="#mob-cosmetic" data-bs-toggle="collapse" class="sp-link-title">
                                <span class="menu-img-icon">
                                    <img src="img/menu/cate-menu3.jpg" class="img-fluid" alt="cate-menu3">
                                    <span>Verse earphones</span>
                                </span>
                                <span class="menu-arrow"><i class="feather-plus"></i></span>
                            </a>
                        </div>
                        <div class="menu-dropdown product-menu collapse" id="mob-cosmetic">
                            <ul class="ul">
                                <li class="productlink-li">
                                    <div class="productlink-title">
                                        <a href="#productsup-vega1" data-bs-toggle="collapse" class="sp-link-title">
                                            <span>Shop page</span>
                                            <span class="menu-arrow"><i class="feather-plus"></i></span>
                                        </a>
                                    </div>
                                    <ul class="productsupmenu-dropdown collapse" id="productsup-vega1">
                                        <li class="productsupmenu-li">
                                            <a href="collection-without.html" class="productsuplink-title">
                                                <span class="sp-link-title">Collection</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="collection.html" class="productsuplink-title">
                                                <span class="sp-link-title">Collection left</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="collection-right-2.html" class="productsuplink-title">
                                                <span class="sp-link-title">Collection right</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="collection-list-without.html" class="productsuplink-title">
                                                <span class="sp-link-title">Collection list</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="collection-list.html" class="productsuplink-title">
                                                <span class="sp-link-title">Collection list lef</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="#" class="productsuplink-title">
                                                <span class="sp-link-title">Collection list right</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="productlink-li">
                                    <div class="productlink-title">
                                        <a href="#productsup-vega2" data-bs-toggle="collapse" class="sp-link-title">
                                            <span>Product page</span>
                                            <span class="menu-arrow"><i class="feather-plus"></i></span>
                                        </a>
                                    </div>
                                    <ul class="productsupmenu-dropdown collapse" id="productsup-vega2">
                                        <li class="productsupmenu-li">
                                            <a href="product-template.html" class="productsuplink-title">
                                                <span class="sp-link-title">Product layout</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="product-template2.html" class="productsuplink-title">
                                                <span class="sp-link-title">Product tab</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="product-template3.html" class="productsuplink-title">
                                                <span class="sp-link-title">Product advanc</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="product-template4.html" class="productsuplink-title">
                                                <span class="sp-link-title">Product advance</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="product-template5.html" class="productsuplink-title">
                                                <span class="sp-link-title">Product accordion</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="product-template6.html" class="productsuplink-title">
                                                <span class="sp-link-title">Product center</span>
                                            </a>
                                        </li>
                                        <li class="productsupmenu-li">
                                            <a href="product-template7.html" class="productsuplink-title">
                                                <span class="sp-link-title">Product side</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-link">
                        <div class="link-title">
                            <a href="collection.html" class="sp-link-title">
                                <span class="menu-img-icon">
                                    <img src="img/menu/cate-menu4.jpg" class="img-fluid" alt="cate-menu4">
                                    <span>Wifro camera</span>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="menu-link">
                        <div class="link-title">
                            <a href="collection.html" class="sp-link-title">
                                <span class="menu-img-icon">
                                    <img src="img/menu/cate-menu5.jpg" class="img-fluid" alt="cate-menu5">
                                    <span>Bluetooth earbuds</span>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="menu-link">
                        <div class="link-title">
                            <a href="collection.html" class="sp-link-title">
                                <span class="menu-img-icon">
                                    <img src="img/menu/cate-menu6.jpg" class="img-fluid" alt="cate-menu6">
                                    <span>Projector leptop</span>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="menu-link">
                        <div class="link-title">
                            <a href="collection.html" class="sp-link-title">
                                <span class="menu-img-icon">
                                    <img src="img/menu/cate-menu7.jpg" class="img-fluid" alt="cate-menu7">
                                    <span>Wireless mouse</span>
                                </span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- vega-mobile end -->
    <!-- mobile-menu start -->
    {{>mobile}}
    <!-- mobile-menu end -->
    <!-- search-modal start -->
    <div class="modal fade" id="searchmodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="crap-search">
                                    <button type="button" class="pop-close" data-bs-dismiss="modal"
                                        aria-label="Close"><i class="feather-x"></i></button>
                                    <form action="https://spacingtech.com/search" method="get" class="search-bar"
                                        role="search">
                                        <div class="form-search">
                                            <input type="hidden" name="type" value="product">
                                            <input type="hidden" name="options[unavailable_products]" value="show">
                                            <input type="hidden" name="options[prefix]" value="last">
                                            <input type="search" name="q" value="" placeholder="Search product..."
                                                class="input-text" aria-label="Search our store" required=""
                                                autocomplete="off">
                                            <button class="search-btn" type="submit"><i
                                                    class="feather-search"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cart-drawer start -->

    <!-- cart-drawer end -->
    <!-- quickview modal start -->
    <div class="productmodal">
        <div class="modal fade" id="quickview">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-quickview">Quickview</h6>
                        <button type="button" class="close" data-bs-dismiss="modal"><i
                                class="fa-solid fa-xmark"></i></button>
                    </div>
                    <div class="modal-body">
                        <!-- quickview-sliderstart -->
                        <div class="quickview-slider">
                            <div class="swiper gallery-top">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="product-template.html"><img src="img/product/home1-pro-1.jpg"
                                                class="img-fluid" alt="p-1"></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="product-template.html"><img src="img/product/home1-pro-2.jpg"
                                                class="img-fluid" alt="p-2"></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="product-template.html"><img src="img/product/home1-pro-3.jpg"
                                                class="img-fluid" alt="p-3"></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="product-template.html"><img src="img/product/home1-pro-4.jpg"
                                                class="img-fluid" alt="p-4"></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="product-template.html"><img src="img/product/home1-pro-5.jpg"
                                                class="img-fluid" alt="p-5"></a>
                                    </div>
                                </div>
                                <div class="swiper-button">
                                    <button class="quick-prev"><i class="fas fa-chevron-left"></i></button>
                                    <button class="quick-next"><i class="fas fa-chevron-right"></i></button>
                                </div>
                            </div>
                            <div class="swiper gallery-thumbs">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="javascript:void(0)"><img src="img/product/home1-pro-1.jpg"
                                                class="img-fluid" alt="p-1"></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="javascript:void(0)"><img src="img/product/home1-pro-2.jpg"
                                                class="img-fluid" alt="p-2"></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="javascript:void(0)"><img src="img/product/home1-pro-3.jpg"
                                                class="img-fluid" alt="p-3"></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="javascript:void(0)"><img src="img/product/home1-pro-4.jpg"
                                                class="img-fluid" alt="p-4"></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="javascript:void(0)"><img src="img/product/home1-pro-5.jpg"
                                                class="img-fluid" alt="p-5"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- quickview-slider end -->
                        <!-- quick-view-content start -->
                        <div class="quick-view-content">
                            <div class="pro-nprist">
                                <!-- product-title start -->
                                <div class="product-title">
                                    <h2>360 cemera</h2>
                                </div>
                                <!-- product-rating start -->
                                <div class="product-ratting">
                                    <span class="pro-ratting">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </span>
                                    <span class="spr-badge-caption">No reviews</span>
                                    <span class="slash">/</span>
                                    <div class="product-count-sale">
                                        <span class="count">16</span> sold in last <span class="time">2</span> hours
                                    </div>
                                </div>
                                <!-- product-rating end -->
                                <div class="pro-prlb pro-sale">
                                    <div class="price-box">
                                        <span class="new-price">$61.00 </span>
                                        <span class="old-price">$54.00 </span>
                                        <span class="percent-count">-%17</span>
                                    </div>
                                </div>
                                <div class="short-description">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry dummy
                                        text and typesetting industry</p>
                                </div>
                                <div class="product-variant">
                                    <h6>Availability:</h6>
                                    <span class="stock-qty in-stock text-success">
                                        <span>In stock<i class="bi bi-check2"></i></span>
                                    </span>
                                </div>
                                <div class="pro-detail-action">
                                    <div class="product-variant-option">
                                        <div class="swatch-variant">
                                            <div class="swatch clearfix Color">
                                                <div class="header">
                                                    <h6><span>Color</span></h6>
                                                </div>
                                                <div class="variant-wrap">
                                                    <div class="variant-property">
                                                        <div class="swatch-element White first-variant">
                                                            <input type="radio" name="option-0" value="White"
                                                                checked="">
                                                            <label>White</label>
                                                        </div>
                                                        <div class="swatch-element Gold">
                                                            <input type="radio" name="option-0" value="Gold">
                                                            <label>Gold</label>
                                                        </div>
                                                        <div class="swatch-element Silver">
                                                            <input type="radio" name="option-0" value="Silver">
                                                            <label>Silver</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-button">
                                    <form method="post" class="cart">
                                        <div class="pro-detail-button">
                                            <div class="product-quantity-button">
                                                <div class="product-quantity-action">
                                                    <h6>Quantity:</h6>
                                                    <div class="product-quantity">
                                                        <div class="cart-plus-minus">
                                                            <button class="dec qtybutton minus"><i
                                                                    class="feather-minus"></i></button>
                                                            <input type="text" name="quantity" value="1">
                                                            <button class="inc qtybutton plus"><i
                                                                    class="feather-plus"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="button" onclick="location. href='cart-page.html'"
                                                    class="btn add-to-cart ajax-spin-cart">
                                                    <span class="cart-title">Add to cart</span>
                                                </button>
                                            </div>
                                            <a href="cart-empty.html" class="btn btn-cart btn-theme">
                                                <span>Buy now</span>
                                            </a>
                                        </div>
                                    </form>
                                </div>
                                <div class="product-actions">
                                    <!-- pro-deatail wishlist start -->
                                    <div class="pro-aff-che">
                                        <a href="wishlist-product.html" class="wishlist">
                                            <span class="wishlist-icon action-wishlist tile-actions--btn wishlist-btn">
                                                <span class="add-wishlist"><i class="bi bi-heart"></i></span>
                                            </span>
                                            <span class="wishlist-text">Wishlist</span>
                                        </a>
                                    </div>
                                    <!-- pro-deatail wishlist end -->
                                </div>
                                <div class="product-payment-image">
                                    <ul class="payment-icon">
                                        <li>
                                            <a href="index.html"><svg viewBox="0 0 38 24"
                                                    xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24"
                                                    aria-labelledby="pi-visa">
                                                    <title id="pi-visa">Visa</title>
                                                    <path opacity=".07"
                                                        d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z">
                                                    </path>
                                                    <path fill="#fff"
                                                        d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32">
                                                    </path>
                                                    <path
                                                        d="M28.3 10.1H28c-.4 1-.7 1.5-1 3h1.9c-.3-1.5-.3-2.2-.6-3zm2.9 5.9h-1.7c-.1 0-.1 0-.2-.1l-.2-.9-.1-.2h-2.4c-.1 0-.2 0-.2.2l-.3.9c0 .1-.1.1-.1.1h-2.1l.2-.5L27 8.7c0-.5.3-.7.8-.7h1.5c.1 0 .2 0 .2.2l1.4 6.5c.1.4.2.7.2 1.1.1.1.1.1.1.2zm-13.4-.3l.4-1.8c.1 0 .2.1.2.1.7.3 1.4.5 2.1.4.2 0 .5-.1.7-.2.5-.2.5-.7.1-1.1-.2-.2-.5-.3-.8-.5-.4-.2-.8-.4-1.1-.7-1.2-1-.8-2.4-.1-3.1.6-.4.9-.8 1.7-.8 1.2 0 2.5 0 3.1.2h.1c-.1.6-.2 1.1-.4 1.7-.5-.2-1-.4-1.5-.4-.3 0-.6 0-.9.1-.2 0-.3.1-.4.2-.2.2-.2.5 0 .7l.5.4c.4.2.8.4 1.1.6.5.3 1 .8 1.1 1.4.2.9-.1 1.7-.9 2.3-.5.4-.7.6-1.4.6-1.4 0-2.5.1-3.4-.2-.1.2-.1.2-.2.1zm-3.5.3c.1-.7.1-.7.2-1 .5-2.2 1-4.5 1.4-6.7.1-.2.1-.3.3-.3H18c-.2 1.2-.4 2.1-.7 3.2-.3 1.5-.6 3-1 4.5 0 .2-.1.2-.3.2M5 8.2c0-.1.2-.2.3-.2h3.4c.5 0 .9.3 1 .8l.9 4.4c0 .1 0 .1.1.2 0-.1.1-.1.1-.1l2.1-5.1c-.1-.1 0-.2.1-.2h2.1c0 .1 0 .1-.1.2l-3.1 7.3c-.1.2-.1.3-.2.4-.1.1-.3 0-.5 0H9.7c-.1 0-.2 0-.2-.2L7.9 9.5c-.2-.2-.5-.5-.9-.6-.6-.3-1.7-.5-1.9-.5L5 8.2z"
                                                        fill="#142688"></path>
                                                </svg></a>
                                        </li>
                                        <li>
                                            <a href="index.html"><svg viewBox="0 0 38 24"
                                                    xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24"
                                                    aria-labelledby="pi-master">
                                                    <title id="pi-master">Mastercard</title>
                                                    <path opacity=".07"
                                                        d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z">
                                                    </path>
                                                    <path fill="#fff"
                                                        d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32">
                                                    </path>
                                                    <circle fill="#EB001B" cx="15" cy="12" r="7"></circle>
                                                    <circle fill="#F79E1B" cx="23" cy="12" r="7"></circle>
                                                    <path fill="#FF5F00"
                                                        d="M22 12c0-2.4-1.2-4.5-3-5.7-1.8 1.3-3 3.4-3 5.7s1.2 4.5 3 5.7c1.8-1.2 3-3.3 3-5.7z">
                                                    </path>
                                                </svg></a>
                                        </li>
                                        <li>
                                            <a href="index.html"><svg xmlns="http://www.w3.org/2000/svg" role="img"
                                                    aria-labelledby="pi-american-express" viewBox="0 0 38 24" width="38"
                                                    height="24">
                                                    <title id="pi-american-express">American Express</title>
                                                    <path fill="#000"
                                                        d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3Z"
                                                        opacity=".07"></path>
                                                    <path fill="#006FCF"
                                                        d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32Z">
                                                    </path>
                                                    <path fill="#FFF"
                                                        d="M22.012 19.936v-8.421L37 11.528v2.326l-1.732 1.852L37 17.573v2.375h-2.766l-1.47-1.622-1.46 1.628-9.292-.02Z">
                                                    </path>
                                                    <path fill="#006FCF"
                                                        d="M23.013 19.012v-6.57h5.572v1.513h-3.768v1.028h3.678v1.488h-3.678v1.01h3.768v1.531h-5.572Z">
                                                    </path>
                                                    <path fill="#006FCF"
                                                        d="m28.557 19.012 3.083-3.289-3.083-3.282h2.386l1.884 2.083 1.89-2.082H37v.051l-3.017 3.23L37 18.92v.093h-2.307l-1.917-2.103-1.898 2.104h-2.321Z">
                                                    </path>
                                                    <path fill="#FFF"
                                                        d="M22.71 4.04h3.614l1.269 2.881V4.04h4.46l.77 2.159.771-2.159H37v8.421H19l3.71-8.421Z">
                                                    </path>
                                                    <path fill="#006FCF"
                                                        d="m23.395 4.955-2.916 6.566h2l.55-1.315h2.98l.55 1.315h2.05l-2.904-6.566h-2.31Zm.25 3.777.875-2.09.873 2.09h-1.748Z">
                                                    </path>
                                                    <path fill="#006FCF"
                                                        d="M28.581 11.52V4.953l2.811.01L32.84 9l1.456-4.046H37v6.565l-1.74.016v-4.51l-1.644 4.494h-1.59L30.35 7.01v4.51h-1.768Z">
                                                    </path>
                                                </svg></a>
                                        </li>
                                        <li>
                                            <a href="index.html"><svg viewBox="0 0 38 24"
                                                    xmlns="http://www.w3.org/2000/svg" width="38" height="24" role="img"
                                                    aria-labelledby="pi-paypal">
                                                    <title id="pi-paypal">PayPal</title>
                                                    <path opacity=".07"
                                                        d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z">
                                                    </path>
                                                    <path fill="#fff"
                                                        d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32">
                                                    </path>
                                                    <path fill="#003087"
                                                        d="M23.9 8.3c.2-1 0-1.7-.6-2.3-.6-.7-1.7-1-3.1-1h-4.1c-.3 0-.5.2-.6.5L14 15.6c0 .2.1.4.3.4H17l.4-3.4 1.8-2.2 4.7-2.1z">
                                                    </path>
                                                    <path fill="#3086C8"
                                                        d="M23.9 8.3l-.2.2c-.5 2.8-2.2 3.8-4.6 3.8H18c-.3 0-.5.2-.6.5l-.6 3.9-.2 1c0 .2.1.4.3.4H19c.3 0 .5-.2.5-.4v-.1l.4-2.4v-.1c0-.2.3-.4.5-.4h.3c2.1 0 3.7-.8 4.1-3.2.2-1 .1-1.8-.4-2.4-.1-.5-.3-.7-.5-.8z">
                                                    </path>
                                                    <path fill="#012169"
                                                        d="M23.3 8.1c-.1-.1-.2-.1-.3-.1-.1 0-.2 0-.3-.1-.3-.1-.7-.1-1.1-.1h-3c-.1 0-.2 0-.2.1-.2.1-.3.2-.3.4l-.7 4.4v.1c0-.3.3-.5.6-.5h1.3c2.5 0 4.1-1 4.6-3.8v-.2c-.1-.1-.3-.2-.5-.2h-.1z">
                                                    </path>
                                                </svg></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- quick-view-content end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- quickview modal end -->
    <!-- bg-scren start -->
    <div class="bg-screen"></div>
    <!-- bg-scren end -->
    <!-- bottom-menu start -->
    {{>bottom}}
    <!-- bottom-menu end -->
    <!-- jquery js -->
    <script src="/js/jquery-3.6.3.min.js"></script>
    <!-- bootstrap js -->
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- magnific-popup js -->
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <!-- owl-carousel js -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- swiper-slider js -->
    <script src="/js/swiper-bundle.min.js"></script>
    <!-- slick js -->
    <script src="/js/slick.min.js"></script>
    <!-- waypoints js -->
    <script src="/js/waypoints.min.js"></script>
    <!-- counter js -->
    <script src="/js/counter.js"></script>
    <!-- main js -->
    <script src="/js/main.js"></script>
</body>

<!-- Mirrored from spacingtech.com/html/electon/electon/article-post-right.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 22 Feb 2025 11:18:14 GMT -->

</html>